#leafletMap {
    height: 800px;
}

body {
    background: rgba(222, 184, 135, 0.384);
}

#profile {
    margin: 20px auto;
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
}

input[type=text] {
    width: 95%;
    padding: 8px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    margin-top: 5px;
    margin-left: 5px;
}

.leaflet-control-zoom a:link {
    color: rgba(4, 255, 58, 0.767);
    background-color: rgba(22, 101, 175, 0.808);
}

.leaflet-control-zoom a:link:hover{
    color: rgba(22, 86, 146, 0.808);
    background-color: rgba(4, 255, 58, 0.767);
}

#print-btn{
    color: rgba(4, 255, 58, 0.767);
    background-color: rgba(22, 101, 175, 0.808);
}

#print-btn:hover{
    color: rgba(22, 86, 146, 0.808);
    background-color: rgba(4, 255, 58, 0.767);
}