/* styles.css */

/* Add styles here to customize the appearance of your app */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#loginForm {
    margin: 20px auto;
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
}

#signUpForm {
    margin: 20px auto;
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
}

input[type=text], input[type=password] {
    width: 95%;
    padding: 8px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#gender{
    width: 95%;
    padding: 8px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(245, 241, 241);
    box-sizing: border-box;
}

body{
    background: rgba(222, 184, 135, 0.384);
}